/* tasksList start */
.tasks .table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.before-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.before-table .selection-task {
  width: 100px;
}

.before-table .selection-task .select-task {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
}

.before-table .selection-task .select-task option {
  padding: 5px;
}

.before-table a {
  background-color: green;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.before-table a:hover {
  background-color: rgb(1, 82, 1);
}

.tasks table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 2px solid #bee3f8;
  text-align: center;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.tasks h1 {
  text-align: center;
}

.tasks table th,
.tasks table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #bee3f8;
}

.tasks table th {
  cursor: pointer;
}

.tasks table th svg {
  width: 10px;
}

.tasks table tbody .edit-btn {
  width: 20px;
  fill: green;
}

.urgent,
.done {
  background-color: #f44336;
  color: white;
  width: fit-content;
  padding: 3px;
  text-align: center;
}

.open {
  background-color: green;
  color: white;
  width: fit-content;
  padding: 3px;
  text-align: center;
}

.tasks table th {
  background-color: #bee3f8;
  text-align: center;
}

.tasks table tr:hover {
  background-color: #f5f5f5;
  text-align: center;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .tasks .table-wrapper {
    overflow-x: scroll;
  }

  .tasks table {
    min-width: 600px;
  }
}

/* tasksList end */
/* createTask start */
.create-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-task-container .create-task-form {
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.create-task-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-task-container .left-side,
.create-task-container .right-side {
  display: flex;
  flex-direction: column;
  width: 45%;
}

@media (max-width: 767.98px) {
  .create-task-container {
    height: 100%;
    padding-top: 20px;
  }
  .create-task-container .create-task-form {
    flex-direction: column;
    max-width: 100%;
  }

  .create-task-container form {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .create-task-container .left-side,
  .create-task-container .right-side {
    width: 100%;
  }
}

.create-task-container label {
  margin-bottom: 8px;
  font-weight: bold;
}

.create-task-container input[type="text"],
.create-task-container textarea,
.create-task-container select,
.create-task-container input[type="date"] {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.create-task-container textarea {
  height: 100px;
  resize: none;
}

.create-task-container button {
  align-self: center;
  padding: 10px 20px;
  background-color: #5397be;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-task-container button:hover {
  background-color: #2d7198;
}

/* createTask end */
/* singleTask start */
.container-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.container-task .container-task-title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.container-task .container-task-info {
  display: flex;
  justify-content: space-between;
  width: 320px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.container-task .container-task-info .urgent {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.container-task .container-task-info .not-urgent {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.container-task .container-task-info .open {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.container-task .container-task-info .done {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.container-task .container-task-desc {
  padding: 40px;
  width: 500px;
  max-width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.container-task .container-task-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  max-width: 100%;
}

.container-task .container-task-links a {
  color: white;
  background-color: #5397be;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

.container-task .container-task-links a .edit-btn {
  fill: white;
  width: 20px;
}

.container-task .container-task-links a:hover {
  background-color: #2d7198;
}

.container-task .container-task-links button {
  color: white;
  background-color: red;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.container-task .container-task-links button:hover {
  background-color: rgb(194, 0, 0);
}

.container-task .container-task-links button .delete-btn {
  fill: white;
  width: 20px;
}

.container-task .back-tasks {
  margin-top: 20px;
  color: blue;
}

/* singleTask end */
/* updataTask start */
.update-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.update-task-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-task-container .update-task-form {
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.update-task-container .left-side,
.update-task-container .right-side {
  display: flex;
  flex-direction: column;
  width: 45%;
}
@media (max-width: 767.98px) {
  .update-task-container {
    height: 100%;
    padding-top: 20px;
  }
  .update-task-container .update-task-form {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .update-task-container form {
    max-width: 100%;
  }

  .update-task-container .left-side,
  .update-task-container .right-side {
    width: 100%;
  }
}

.update-task-container label {
  margin-bottom: 8px;
  font-weight: bold;
}

.update-task-container input[type="text"],
.update-task-container textarea,
.update-task-container select,
.update-task-container input[type="date"] {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.update-task-container textarea {
  height: 100px;
  resize: none;
}

.update-task-container button {
  align-self: center;
  padding: 10px 20px;
  background-color: #5397be;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.update-task-container button:hover {
  background-color: #2d7198;
}

/* updateTask end */
