.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
}

.skeleton-text {
  width: 100px;
  height: 20px;
  margin: 0 auto;
}

.disabled-link {
  background-color: gray;
  pointer-events: none;
}

.disabled-link:hover {
  background-color: gray;
}
