@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
}

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  .container-general-general {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container-general {
    max-width: 540px;
  }
}

/* Medium devices (desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container-general {
    max-width: 720px;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container-general {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container-general {
    max-width: 1140px;
  }
}

/* Extra extra large devices (larger desktops) */
@media (min-width: 1400px) {
  .container-general {
    max-width: 1320px;
  }
}

/* Fluid container */
.container-general {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
